---
Language:        Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 100
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerBindsToType: true
TabWidth: 4

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
